.batchInfo {
  @media (max-width: 699px) {
    /* padding: 0 20px; */
  }
}
.tutor_info{
margin-top: 15px;
  padding: 15px;
  border: 0.5px solid #d1d7dc;
}
.bdr{
  border-radius:5px;
}
.mb-20{margin-bottom:20px}
.pb-10{padding-bottom:10px;}
.f-bold{font-weight:bold;}
/* 
   @media only screen and (min-width: 600px) {
   margin-top: -30px;

   
  } */
  .ant-rate-star.ant-rate-star-full,
  .ant-rate-star.ant-rate-star-zero,
  .ant-rate-star.ant-rate-star-half.ant-rate-star-active {
      transition: transform 0s;
  }

  .ant-rate-star.ant-rate-star-half.ant-rate-star-active:hover {
      transform: scale(0.91);
  }

  .ant-rate-star.ant-rate-star-full:hover {
      transform: scale(0.91);
  }

  .ant-rate-star.ant-rate-star-zero:hover {
      transform: scale(0.91);
  }