.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 20px;
  text-align: center;
}
.notes-month section {
  font-size: 20px;
}
.ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  width: 100px;
}
.ant-form-item-control-input .ant-picker {
  padding: 12px !important;
}
.ant-select ant-select-multiple ant-select-show-search {
  width: 100% !important;
}
.ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  width: 100% !important;
}
.ant-picker-calendar-header > .ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  width: 25% i !important;
}
/* 
.ant-picker-calendar-header{
	d
} */
.rbc-btn-group > button {
  color: #ffffff;
  background: #ec5252;
  border-color: #f4f5f7;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%) !important;
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%) !important;
  cursor: pointer;
}
.rbc-toolbar {
  font-size: 14px;
}
/* .rbc-event {
  background-color: #5f63f2;
} */
.rbc-event-content > span > strong {
  font-size: 12px;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  border: red;
}
.rbc-time-slot {
  background: white !important;
}
